<header class="flex bg-slate-300 px-10  py-4 justify-between items-center">
    <div class="flex items-center">
        <a href="#"><img src="https://via.placeholder.com/200" alt="tp2: Marketplaces" width="50" height="50"></a>
        <h1 class="mx-6"><a href="#">TP2: MarketPlace</a></h1>
    </div>
    <nav>
        <ul class="grid grid-cols-4 gap-4 content-center ">
            <li class="mx-10">
                <a href="#">Categories</a>
            </li>
            <li class="mx-10">
                <a href="#">Nouveautes</a>
            </li>
            <li class="mx-10">
                <a href="#">Contactez-nous</a>
            </li>
        </ul>
    </nav>
    <div class="relative py-2">
        <div class="t-0 absolute left-3">
            <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs" [ngClass]="{'bg-red-500 text-white': cartItems.length > 0, 'bg-white text-black': cartItems.length === 0 }">{{cartItems.length}}</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="file: mt-4 h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
    </div>
</header>