<header class="flex bg-slate-300 px-10  py-4 justify-between items-center">
    <div class="flex items-center">
        <a href="#"><img src="https://via.placeholder.com/200" alt="tp2: Marketplaces" width="50" height="50"></a>
        <h1 class="mx-6"><a href="#">TP2: MarketPlace</a></h1>
    </div>
    <nav>
        <ul class="flex">
            <li class="mx-10">
                <a href="#">Categories</a>
            </li>
            <li class="mx-10">
                <a href="#">Nouveautes</a>
            </li>
            <li class="mx-10">
                <a href="#">Contactez-nous</a>
            </li>
        </ul>
    </nav>
</header>